<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.TaskMapper">

	<!-- マッピング定義(タスク) -->
	<resultMap type="com.example.demo.domain.model.Task"
		id="task">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="type_id" property="typeId" />
		<result column="title" property="title" />
		<result column="detail" property="detail" />
		<result column="deadline" property="deadline" />
		<association property="taskType" resultMap="taskType" />
	</resultMap>

	<!-- マッピング定義(タスクタイプ) -->
	<resultMap type="com.example.demo.domain.model.TaskType"
		id="taskType">
		<id column="id" property="id" />
		<result column="type" property="type" />
	</resultMap>

	<select id="findAllTask" resultMap="task">
		SELECT *
		FROM task
		INNER JOIN
		task_type ON task.type_id =
		task_type.id
	</select>

	<insert id="insertTask">
		INSERT INTO task
		(user_id, type_id, title, detail,
		deadline)
		VALUES
		(#{userId}, #{typeId}, #{title}, #{detail},#{deadline})
	</insert>

	<select id="findOneTask" resultMap="task">
		SELECT *
		FROM task
		INNER JOIN
		task_type ON task.type_id =
		task_type.id
		WHERE
		task.id
		= #{id};
	</select>

	<update id="updateTask">
		UPDATE
		task
		SET
		type_id = #{typeId},
		title = #{title},
		detail = #{detail},
		deadline = #{deadline}
		WHERE
		id = #{id}
	</update>

</mapper>